azure-identity>=1.15.0
azure-mgmt-resource>=23.0.0
azure-mgmt-resourcegraph>=8.0.0
azure-mgmt-compute>=30.0.0
azure-mgmt-network>=25.0.0
azure-mgmt-storage>=21.0.0
azure-mgmt-sql>=3.0.1
azure-mgmt-containerservice>=28.0.0
azure-mgmt-web>=7.0.0
